<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Car Controls Rental Agency System</title>
</head>
<body>
    <h2>Rental Agency can perform the following car controls</h2>

    <p>Please choose your option:</p>

    <ul>
		<li>
			<!--form th:action="@{/cars/add}" method="get">
				<button type="submit">Add Cars</button>
			</form>
		</li>
        <li>
			<form th:action="@{/cars/all}" method="post">
				<button type="submit">View All cars</button>
			</form>
		</li>
        <li>
			<form th:action="@{/continue-as-guest}" method="post">
			<button type="submit">View Cars by locations</button>
			</form>
		</li-->
    </ul>
</body>
</html>